/* @font-face {
  font-family: 'HOS';
  src: url('../../assets/fonts/woff2/HarmonyOS_Sans_SC_Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'HOS Medium';
  src: url('../../assets/fonts/woff2/HarmonyOS_Sans_SC_Medium.woff2') format('woff2');
  font-display: swap;
} */